{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3 mw-100">
            <select name="symbol" class="form-select mx-auto w-auto">
                <option disabled="" selected="">Symbol</option>
                {% for stock in on_hand_stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mt-2" name="shares" placeholder="No. of Share" type="number" min="0" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
