{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Transaction Date</th>
                <th class="text-start">Stock Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Unit Price</th>
                <th class="text-end">Total Price</th>
            </tr>
        </thead>
        <tbody>
        <!-- TODO: Loop through the result to display the transaction history -->
            {% for record in transactions %}
                <tr>
                    <td class="text-start">{{ record.get("timestamp") }}</td>
                    <td class="text-start">{{ record.get("symbol") }}</td>
                    <td class="text-end">{{ record.get("shares")}}</td>
                    <td class="text-end">{{ record.get("unit_price") | usd }}</td>
                    <td class="text-end">{{ record.get("total_price") | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
